In [ ]:
# question 1 - write a python program to display all the header tags from wikipedia.org

In [70]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

url = urlopen("https://en.wikipedia.org/wiki/Main_Page")
soup = BeautifulSoup(url, "html.parser")

header_tag = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])

print(header_tag)

[<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none"><span class="mw-page-title-main">Main Page</span></h1>, <h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>, <h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>, <h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>, <h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>, <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>, <h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>]

In [ ]:
# question 2 - write a python program to display imdb’s top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def a(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    movie = soup.find_all("td", class_ = "titleColumn")
    title = []
    for i in movie:
        i = i.text.replace('\n','')
        i = i.rstrip(i[-6:])
        head,sep,tail = i.partition('.')
        title.append(tail.strip())
    title = title[:100]

    b = soup.find_all("span", class_ = "secondaryInfo")
    year = []
    for i in b:
        year.append(i.text.replace('(','').replace(')', ''))
    year = year[:100]
    
    c = soup.find_all("td", class_ = "ratingColumn imdbRating")
    rating = []
    for i in c:
        rating.append(i.text.replace('\n',''))
    rating = rating[:100]

    a = pd.DataFrame({"Movie Name" : title, "Rating" : rating, "Year" : year})
    return(a)

In [10]:
a('https://www.imdb.com/chart/top/')

                           Movie Name Rating  Year
0            The Shawshank Redemption    9.2  1994
1                       The Godfather    9.2  1972
2                     The Dark Knight    9.0  2008
3               The Godfather Part II    9.0  1974
4                        12 Angry Men    8.9  1957
..                                ...    ...   ...
95                       Citizen Kane    8.3  1941
96  M - Eine Stadt sucht einen Mörder    8.3  1931
97                 North by Northwest    8.3  1959
98                       Idi i smotri    8.2  1985
99                            Vertigo    8.2  1958

[100 rows x 3 columns]

In [ ]:
# question 3 - write a python program to display imdb’s top rated 100 indian movies’ data (i.e. name, rating, year of release) and make data frame

In [17]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def a(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    movie = soup.find_all("td", class_ = "titleColumn")
    title = []
    for i in movie:
        i = i.text.replace('\n','')
        i = i.rstrip(i[-6:])
        head,sep,tail = i.partition('.')
        title.append(tail.strip())
    title = title[:100]

    b = soup.find_all("span", class_ = "secondaryInfo")
    year = []
    for i in b:
        year.append(i.text.replace('(','').replace(')', ''))
    year = year[:100]
    
    c = soup.find_all("td", class_ = "ratingColumn imdbRating")
    rating = []
    for i in c:
        rating.append(i.text.replace('\n',''))
    rating = rating[:100]

    a = pd.DataFrame({"Movie Name" : title, "Rating" : rating, "Year" : year})
    return(a)

In [18]:
a('https://www.imdb.com/india/top-rated-indian-movies/')

                     Movie Name Rating  Year
0    Rocketry: The Nambi Effect    8.5  2022
1                    Anbe Sivam    8.4  2003
2                      Jai Bhim    8.4  2021
3                       Golmaal    8.4  1979
4                       Nayakan    8.4  1987
..                          ...    ...   ...
95                  Ustad Hotel    8.0  2012
96   The Legend of Bhagat Singh    8.0  2002
97                    Virumandi    8.0  2004
98  Baahubali 2: The Conclusion    8.0  2017
99                       Angoor    8.0  1982

[100 rows x 3 columns]

In [ ]:
# question 4 - write s python program to display list of respected former presidents of india (i.e. name , term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [49]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def President_Ind(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    names = soup.find_all("div", class_ = "presidentListing")
    Name = []
    for i in names:
        i = i.text
        head,sep,tail = i.partition('(')
        Name.append(head.replace('\n',''))

    term = soup.find_all("div", class_ = "presidentListing")
    Term = []
    for i in term:
        i = i.text
        head,sep,tail = i.partition('Term of Office: ')
        i = tail
        head,sep,tail = i.partition('\n')
        Term.append(head)
        
    president = pd.DataFrame({"Name" : Name, "Term of Office" : Term})
    return(president)

In [50]:
President_Ind("https://presidentofindia.nic.in/former-presidents.htm")

,Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [ ]:
# question 5 - write a python program to scrape cricket rankings from icc-cricket.com
# question 5a - top 10 odi teams in men’s cricket along with the records for matches, points and rating

In [47]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def top(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    team = soup.find_all('span', class_ = 'u-hide-phablet')
    Team = []
    for i in team:
        i = i.get_text()
        Team.append(i)
    Team = Team[:10]

    Top_team_r = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ', '')
    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    Rating = [Top_team_r]
    
    for i in rating:
        i = i.get_text()
        Rating.append(i)
    Rating = Rating[:10]

    match_point = soup.find_all('td', class_ = 'table-body__cell u-center-text')
    Match_Point = []
    for i in match_point:
        i = i.get_text()
        Match_Point.append(i)

    Top_team_m = soup.find('td', class_ = 'rankings-block__banner--matches').text
    Top_team_p = soup.find('td', class_ = 'rankings-block__banner--points').text
    Match = [Top_team_m] 
    Point = [Top_team_p]
    i=0  
    j=1
    
    while i<17:
        Match.append(Match_Point[i])
        Point.append(Match_Point[j])
        i = i+2 
        j= j+2
        
    top_odi = pd.DataFrame({"Team Name" : Team, "Rating" : Rating, "Matches" : Match, "Point" : Point})
    return(top_odi)

In [48]:
top("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")

      Team Name Rating Matches  Point
0       England    119      27  3,226
1   New Zealand    114      22  2,508
2         India    111      31  3,447
3      Pakistan    107      22  2,354
4     Australia    106      29  3,071
5  South Africa    101      21  2,111
6    Bangladesh     92      30  2,753
7     Sri Lanka     92      29  2,658
8   West Indies     71      41  2,902
9   Afghanistan     69      18  1,238

In [ ]:
# question 5b - top 10 odi batsmen along with the records of their team and rating

In [37]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def top(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name = soup.find_all('td', class_ = 'table-body__cell name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','').split(' ')[0]
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})
    return(DataFrame)

In [38]:
top("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")

                    Name Team Rating
0             Babar Azam  PAK    890
1  Rassie van der Dussen   SA    789
2        Quinton de Kock   SA    784
3            Imam-ul-Haq  PAK    779
4            Virat Kohli  IND    744
5           Rohit Sharma  IND    740
6         Jonny Bairstow  ENG    732
7           David Warner  AUS    725
8            Ross Taylor   NZ    701
9            Steve Smith  AUS    697

In [ ]:
# question 5c - top 10 odi bowlers along with the records of their team and rating

In [39]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def top(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})
    return(DataFrame)

In [40]:
top("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")

               Name                    Team Rating
0       Trent Boult  NZ                        775
1    Josh Hazlewood                     AUS    718
2  Mujeeb Ur Rahman                     AFG    676
3    Jasprit Bumrah                     IND    662
4    Shaheen Afridi                     PAK    661
5     Mohammad Nabi                     AFG    657
6      Mehedi Hasan                     BAN    655
7        Matt Henry                      NZ    654
8    Mitchell Starc                     AUS    653
9       Rashid Khan                     AFG    651

In [ ]:
# question 6 - write a python program to scrape cricket rankings from icc-cricket.com
# question 6a - top 10 odi teams in women’s cricket along with the records for matches, points and rating

In [41]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def top(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    team = soup.find_all('span', class_ = 'u-hide-phablet')
    Team = []
    for i in team:
        i = i.get_text()
        Team.append(i)
    Team = Team[:10]


    Top_team_r = soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ', '')
    rating = soup.find_all('td', class_ = 'table-body__cell u-text-right rating')
    
    Rating = [Top_team_r]
    for i in rating:
        i = i.get_text()
        Rating.append(i)
    Rating = Rating[:10]

    match_point = soup.find_all('td', class_ = 'table-body__cell u-center-text')
    
    Match_Point = []
    for i in match_point:
        i = i.get_text()
        Match_Point.append(i)

    Top_team_a = soup.find('td', class_ = 'rankings-block__banner--matches').text
    Top_team_b = soup.find('td', class_ = 'rankings-block__banner--points').text
    
    Match = [Top_team_a] 
    Point = [Top_team_b]
    i=0  
    j=1
    while i<17:
        Match.append(Match_Point[i])
        Point.append(Match_Point[j])
        i = i+2 
        j= j+2
        
    Top_odi = pd.DataFrame({"Team Name" : Team, "Rating" : Rating, "Matches" : Match, "Point" : Point})
    return(Top_odi)

In [42]:
top("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")

      Team Name Rating Matches  Point
0     Australia    167      29  4,837
1       England    121      34  4,097
2  South Africa    119      35  4,157
3         India    103      33  3,392
4   New Zealand     99      32  3,161
5   West Indies     91      31  2,815
6    Bangladesh     78      12    930
7      Pakistan     65      30  1,962
8       Ireland     47      11    516
9     Sri Lanka     45      11    495

In [ ]:
# question 6b - top 10 women’s odi batting players along with the records of their team and rating

In [43]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def top(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})
    return(DataFrame)

In [44]:
top('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

                  Name                     Team Rating
0         Alyssa Healy  AUS                        785
1          Beth Mooney                      AUS    749
2       Natalie Sciver                      ENG    740
3      Laura Wolvaardt                       SA    732
4          Meg Lanning                      AUS    710
5       Rachael Haynes                      AUS    701
6      Smriti Mandhana                      IND    698
7    Amy Satterthwaite                       NZ    681
8     Harmanpreet Kaur                      IND    662
9  Chamari Athapaththu                       SL    655

In [ ]:
# question 6c - top 10 women’s odi all-rounder along with the records of their team and rating

In [45]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def top(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    name = soup.find_all('td', class_ = 'table-body__cell rankings-table__name name')
    Top_player = soup.find('div', class_ = 'rankings-block__banner--name-large').text
    Name = [Top_player]
    for i in name:
        Name.append(i.text.replace('\n','')) 
    Name = Name[:10]

    rating = soup.find_all('td', class_ = 'table-body__cell rating')
    Top_player_rating = soup.find('div', class_ = 'rankings-block__banner--rating').text
    Rating = [Top_player_rating]
    for i in rating:
        i = i.text
        Rating.append(i)
    Rating = Rating[:10]

    team = soup.find_all('span', class_ = 'table-body__logo-text')
    Top_player_team = soup.find('div', class_ = 'rankings-block__banner--nationality').text.replace('\n','')
    Team = [Top_player_team]
    for i in team:
        i = i.text.replace('\n','')
        Team.append(i)
    Team = Team[:10]

    DataFrame = pd.DataFrame({'Name':Name, 'Team':Team, 'Rating':Rating})
    return(DataFrame)

In [46]:
top('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling')

                  Name                     Team Rating
0    Sophie Ecclestone  ENG                        748
1        Jess Jonassen                      AUS    725
2         Megan Schutt                      AUS    722
3       Shabnim Ismail                       SA    722
4       Jhulan Goswami                      IND    689
5       Ayabonga Khaka                       SA    634
6  Rajeshwari Gayakwad                      IND    625
7      Hayley Matthews                       WI    612
8       Marizanne Kapp                       SA    598
9           Kate Cross                      ENG    597

In [ ]:
# question 7 - write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world

In [60]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def news_content(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    title = soup.find_all('a', class_ ='LatestNews-headline')
    Title = []
    for i in title:
        Title.append(i.text) 

    time = soup.find_all('time', class_ ='LatestNews-timestamp')
    Time = []
    for i in time:
        Time.append(i.text) 

    link = soup.find_all('div', class_='LatestNews-headlineWrapper')
    Link = []
    for i in link:
        head, sep, tail = str(i).partition('" title=')
        head, sep, tail = head.partition('a class="LatestNews-headline" href="')
        Link.append(tail)

    DataFrame = pd.DataFrame({'News':Title,'Time':Time,'Link':Link})
    return(DataFrame)

In [61]:
news_content('https://www.cnbc.com/world/?region=world')

,News,Time,Link
0,Goldman says buy these kinds of stocks as firm...,26 Min Ago,https://www.cnbc.com/2022/09/23/goldman-says-b...
1,Costco isn't raising membership fees after ear...,59 Min Ago,https://www.cnbc.com/2022/09/23/costco-maintai...
2,"Mass protests in Iran, sparked by woman's deat...",1 Hour Ago,https://www.cnbc.com/2022/09/23/mass-protests-...
3,One thing this millennial business owner says ...,1 Hour Ago,https://www.cnbc.com/2022/09/23/millennial-bus...
4,JetBlue ground operations workers seek union v...,1 Hour Ago,https://www.cnbc.com/2022/09/23/jetblue-fleet-...
5,Buy these 'free cash flow favorites' as the S&...,2 Hours Ago,https://www.cnbc.com/2022/09/23/buy-these-free...
6,Google CEO Pichai tells employees not to 'equa...,2 Hours Ago,https://www.cnbc.com/2022/09/23/google-ceo-pic...
7,What Cramer is watching — 2-year yield unstopp...,2 Hours Ago,https://www.cnbc.com/2022/09/23/what-cramer-is...
8,Markets don't like U.K. stimulus plan because ...,3 Hours Ago,https://www.cnbc.com/2022/09/23/-financial-mar...
9,Here are Friday's biggest analyst calls: Apple...,3 Hours Ago,https://www.cnbc.com/2022/09/23/here-are-frida...
10,Inflation Reduction Act's expanded biofuel inc...,3 Hours Ago,https://www.cnbc.com/2022/09/23/inflation-redu...
11,Getting married? How to know when to combine y...,3 Hours Ago,https://www.cnbc.com/2022/09/23/how-to-know-wh...
12,Stocks making the biggest moves premarket: Fed...,4 Hours Ago,https://www.cnbc.com/2022/09/23/stocks-making-...
13,Wedbush upgrades fuboTV to outperform citing '...,4 Hours Ago,https://www.cnbc.com/2022/09/23/wedbush-upgrad...
14,5 things to know before the stock market opens...,4 Hours Ago,https://www.cnbc.com/2022/09/23/5-things-to-kn...
15,Finding yield in health care stocks during the...,5 Hours Ago,https://www.cnbc.com/2022/09/23/finding-yield-...
16,"British pound plunges, bonds sink after govern...",5 Hours Ago,https://www.cnbc.com/2022/09/23/british-pound-...
17,"Goldman cuts S&P target to 3,600, sees it fall...",5 Hours Ago,https://www.cnbc.com/2022/09/23/goldman-cuts-y...
18,"BMO upgrades Domino's Pizza, predicts 35% rebo...",5 Hours Ago,https://www.cnbc.com/2022/09/23/bmo-upgrades-d...
19,UK government dishes out tax cuts as country b...,6 Hours Ago,https://www.cnbc.com/2022/09/23/uk-government-...
20,Referendums begin in Ukraine's occupied region...,7 Hours Ago,https://www.cnbc.com/2022/09/23/russia-ukraine...
21,10-year Treasury yield falls as markets digest...,7 Hours Ago,https://www.cnbc.com/2022/09/23/10-year-treasu...
22,Putin's nuclear threats raise the risk of an u...,8 Hours Ago,https://www.cnbc.com/2022/09/23/russia-ukraine...
23,Steve Hanke says the chance of a U.S. recessio...,8 Hours Ago,https://www.cnbc.com/2022/09/23/there-is-an-80...
24,European stocks slide 2.8% after weak euro zon...,9 Hours Ago,https://www.cnbc.com/2022/09/23/european-stock...
25,Electric vehicle sales set to hit an all-time ...,10 Hours Ago,https://www.cnbc.com/2022/09/23/electric-vehic...
26,HSBC warns investors to avoid European stocks,10 Hours Ago,https://www.cnbc.com/2022/09/23/hsbc-warns-inv...
27,"U.S. rates may be rising, but Asia won't see a...",10 Hours Ago,https://www.cnbc.com/2022/09/23/analysts-discu...
28,Fund manager names 2 UK stocks he says look ve...,11 Hours Ago,https://www.cnbc.com/2022/09/23/fund-manager-n...
29,Credit Suisse says buy stocks with this charac...,12 Hours Ago,https://www.cnbc.com/2022/09/23/credit-suisse-...

In [ ]:
# question 8 - write a python program to scrape the details of most downloaded articles from ai in last 90 days
# https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

In [62]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def journal(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    title = soup.find_all('h2', class_ ='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR')
    Title = []
    for i in title:
        Title.append(i.text) 

    author = soup.find_all('span', class_ ='sc-1w3fpd7-0 pgLAT')
    Author = []
    for i in author:
        Author.append(i.text) 

    date = soup.find_all('span', class_ ='sc-1thf9ly-2 bKddwo')
    Date = []
    for i in date:
        Date.append(i.text) 

    link = soup.find_all('a', class_ ='sc-5smygv-0 nrDZj')
    Link = []
    for i in link:
        Link.append(i['href'])
        
    DataFrame = pd.DataFrame({'Paper':Title,'Author':Author,'Publication Date':Date,'Link':Link})
    return(DataFrame)

In [63]:
journal('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

,Paper,Author,Publication Date,Link
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [ ]:
#question 9 - write a python program to scrape mentioned details from dineout.co.in

In [64]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def hotel(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)
    
    Hotel_name = []
    Location = []
    for i in soup.find_all('div', class_ = 'restnt-info cursor'):
        Hotel_name.append(i.a.text)
        Location.append(i.div.text)

    Cuisine = []
    for i in soup.find_all('span', class_ = 'double-line-ellipsis'):
        head, sep, tail = i.text.partition('|')
        Cuisine.append(tail)

    url = []
    for i in soup.find_all('img', class_ = 'no-img'):
        url.append(i['data-src'])

    Rating = []
    for i in soup.find_all('div', class_ = 'restnt-rating rating-4'):
        Rating.append(i.text)

    DataFrame = pd.DataFrame({'Hotel':Hotel_name, 'Cuisine':Cuisine, 'Location':Location, 'Rating':Rating, 'URL':url})
    return(DataFrame)

In [65]:
hotel('https://www.dineout.co.in/delhi-restaurants/welcome-back')

,Hotel,Cuisine,Location,Rating,URL
0,Tamasha,"Continental, Asian, Italian, North Indian","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Local,"North Indian, Asian, Continental","Scindia House,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
2,Openhouse Cafe,"North Indian, Asian, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
3,Station Bar,"Italian, Chinese, North Indian, Fast Food","F-Block,Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
4,Ministry Of Beer,"North Indian, Continental, American, Asian","M-Block,Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
5,QBA,"North Indian, Continental, Italian","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
6,The Junkyard Cafe,"North Indian, Continental, Chinese, Fast Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
7,The G.T. ROAD,North Indian,"M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,Berco's,"Chinese, Thai","Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Connaught Clubhouse Microbrewery,"North Indian, Continental, Asian, Chinese","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
10,Unplugged Courtyard,"North Indian, Italian, Chinese, Turkish, Cont...","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
11,Chido,"North Indian, Italian, Continental, Asian, Fi...","Connaught Place, Central Delhi",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Farzi Cafe,"Modern Indian, Continental, Finger Food","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
13,Ardor 2.1 Restaurant and Lounge,"North Indian, Chinese, Italian, Continental","Connaught Place, Central Delhi",3.8,https://im1.dineout.co.in/images/uploads/resta...
14,My Bar Headquarters,"North Indian, Chinese","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
15,38 Barracks,"North Indian, Chinese, Continental","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,Sandoz,"North Indian, Chinese, Continental","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
17,The Luggage Room By Sandoz,"Chinese, Italian, North Indian, Continental","M-Block,Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
18,Out Of The Box Courtyard,"North Indian, Mediterranean, Chinese, Italian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
19,Chili's American Grill and Bar,"Mexican, American, Tex Mex","M-Block,Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
20,Dhaba Estd 1986 Delhi,"North Indian, Mughlai","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...

In [ ]:
#question 10 - write a python program to scrape the details of top publications from google scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en

In [66]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

def paper(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.content)

    rank = soup.find_all('td', class_ ='gsc_mvt_p')
    Rank = []
    for i in rank:
        Rank.append(i.text) 

    publication = soup.find_all('td', class_ ='gsc_mvt_t')
    Publication = []
    for i in publication:
        Publication.append(i.text) 

    h5_index = soup.find_all('a', class_ ='gs_ibl gsc_mp_anchor')
    H5_index = []
    for i in h5_index:
        H5_index.append(i.text) 

    h5_median = soup.find_all('span', class_ ='gs_ibl gsc_mp_anchor')
    H5_median = []
    for i in h5_median:
        H5_median.append(i.text)
                                                        
    DataFrame = pd.DataFrame({'Rank':Rank,'Publication':Publication,'h5_index':H5_index,'h5_median':H5_median})
    return(DataFrame)

In [68]:
paper('https://scholar.google.com/citations?view_op=top_venues&hl=en')

    Rank                                        Publication h5_index h5_median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]